<<<<<<< HEAD
header {
    padding: 20px 0;
    position: relative;
    z-index: 2;
    height: 133px;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.wrapper {
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.slider {
    margin-top: -133px;
    background: url(../img/psheno.png) no-repeat;
    background-size: cover;
    height: 850px;
}

#logo {
    float: left;
    width: 30%;
}

.search {
    width: 350px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.search-input {
    width: 100%;
}

.search-input,
.search-button {
    display: inline-flex;
    border: none;
    font-family: "Robotoslab";
    background: transparent;
}

.readMore {
    text-align: center;
    height: 55px;
    width: 160px;
    background-color: #57984c;
    font-size: 16px;
    margin-top: 60px;
    color: #ffffff;
}

.menu {
    text-align: right;
}

.complex_list {
    padding: 4px;
}

.complex_list li {
    display: inline-block;
    list-style: none;
}

.complex_list li a {
    color: black;
    font: optional;
    font-size: 18px;
    text-decoration: none;
    margin: 2px;
}

.complex_list li a:hover {
    text-decoration: underline;
=======
header {
    position: relative;
    z-index: 2;
    height: 133px;
}

.wrapper {
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}

.slider {
    margin-top: -133px;
    background: url(../img/psheno.png) no-repeat;
    background-size: cover;
    height: 850px;
}

#logo {
    margin-top: 20px;
    float: left;
    width: 30%;
}

.boxSearch {
    float: right;
    width: 350px;
    height: 35px;
    margin-top: 20px;
}

.boxSearch input,
button {
    display: inline-flexs;
    border: none;
    font-family: "Robotoslab";
    background: transparent;
}

.lupa {
    float: right;
}

.line {
    width: 350px;
    height: 1px;
    border: none;
    background-color: black;
    color: black;
}

.readMore {
    text-align: center;
    /* font-family: "Robotoslabbold"; */
    height: 55px;
    width: 160px;
    background-color: #57984c;
    font-size: 16px;
    margin-top: 60px;
    color: #ffffff;
}

.menu {
    text-align: right;
    padding-top: 91px;
}

.complex_list {
    padding: 4px;
}

.complex_list li {
    display: inline-block;
    list-style: none;
}

.complex_list li a {
    color: black;
    font: optional;
    font-size: 18px;
    text-decoration: none;
    margin: 2px;
}

.complex_list li a:hover {
    text-decoration: underline;
>>>>>>> a60b67df66a678e02ef0e932b07a0db12d6a6f85
}