img.fon {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.ravnImg {
    height: 190px;
}

.ravnImg1 {
    text-align: center;
    padding-top: 48px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content {
    position: relative;
    padding-top: 362px;
    font-size: 48px;
    margin: 0;
    text-align: center;
    color: #735440;
}

.sl_slide p {
    font-family: "Roboto";
}

.visionMission {
    height: 1200px;
    background-color: gainsboro;
    background-image: url(../img/belCrug.svg);
    background-size: content;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 71px;
}

.vision {
    background: url("../img/Uni.png") no-repeat;
    padding-top: 50px;
    margin-top: 20px;
}

.title_vis h1 {
    display: flex;
    color: black;
    margin-top: 95px;
}

.visimg img {
    width: 570px;
    height: 550px;
}

.activ {
    height: 640px;
    background: #ededed;
    margin-top: 100px;
}


/* ////////////////////////////////// */

.main_activ {
    height: 640px;
    background-color: #ededed;
    margin-top: 100px;
}

.main_activ {
    margin-top: 0;
    font-size: 64px;
    color: #324950;
    padding-top: 70px;
    text-align: center;
    font-weight: 700;
}

.activ_union {
    margin-top: -45px;
}

.activ_row {
    display: flex;
    text-align: center;
}

.activ_column {
    flex: 0 0 33%;
    font-size: 24px;
    color: #57984c;
}

.activ_column .activ_examples {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #324950;
}