<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="Google" />
    <meta name="viewport" content="width=320, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./css/Common/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/Common/font.css">
    <link rel="stylesheet" href="./css/Common/header.css">
    <link rel="stylesheet" href="./css/LOL/style.css">
    <link rel="stylesheet" href="./css/Common/footer.css">
    <title>LOL</title>
</head>




<body>
    <div id="app">

        <header>
            <div class="wrapper logo_wrapper">


                <div class="logo">
                    <a href="./index.html"><img src="./img/LOL/Logo/Logo_LOL.png" alt="logo"></a>
                </div>


                <div class="search-wrapper">
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <button type="submit">
                            <image class="search-icon" src="./img/Common/Logo/Lupa.png">
                        </button>
                    </div>


                    <nav class="menu">

                        <input type="checkbox" name="menu" id="=">
                        <label for="=">Menu</label>

                        <ul class=" complex_list">
                            <li><a href="./index.html">Home</a></li>
                            <li>
                                <a href="">Company Profile</a>
                            </li>
                            <li><a href="./LOL.html">Products</a></li>
                            <li><a href="">Servies</a></li>
                            <li>
                                <a href="./Tomato_One.html">R & D</a>
                            </li>
                            <li><a href="./Contact_us.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>


            </div>
        </header>

        <div class="slider"></div>



        <section>
            <div class="wrapper ">
                <div class="title_text">League of Legends</div>
                <div class="title_img">
                    <img src="./img/LOL/Components/Krestici.png" alt="xxx" />
                </div>
                <div class="main_text">
                    <p>
                        League of Legends (translated from English - "League of Legends"), abbreviated LoL - a multiplayer computer game in the MOBA genre, developed and released by the American company Riot Games in 2009 for Microsoft Windows and macOS platforms. The game was
                        developed in the image and likeness of DotA, a custom map (modification) for Warcraft III. It is distributed free of charge, according to the free-to-play model; the creators of the game earn income through the sale of cosmetic
                        items for the characters.
                    </p>
                    <p>
                        During each match of the game, two teams of five players oppose each other on a special kind of map; each player controls one "champion" character - these champions differ in characteristics and abilities and are better suited for a particular role in
                        the team. During thes match, champions earn experience points and gold, can gain new abilities, improve their characteristics and purchase items. In the main game mode, each team must destroy the enemy "nexus" - a special valuable
                        structure on the map - and prevent the enemy team from destroying their own nexus.
                    </p>
                    <p>
                        Each of the players in the team has one of five roles, from which the further gameplay follows. ADC - usually archers or mages - they fight along with the allied champion in the dragon lane. Support - Support champions fight in a dual lane and try to
                        help their allies as much as possible. Midlaners are champions who fight in the mid lane, they are one of the most important and difficult playable champions in the game, because it is in the mid lane that 5v5 fights most often
                        occur. The top are the solo lane champions - they are the least involved in teamfights in the early game, but also a very important aspect of the game. Junglers are champions who spend most of the game in the jungle, killing all
                        sorts of beasts to give their allies and themselves "buffs" and so to accumulate gold and experience.
                    </p>
                    <p class="line2">
                        CHOOSE YOUR CHAMPION
                    </p>
                </div>
            </div>
        </section>

        <div class="championsList col-md-12">
            <div class="wrapper">
                <div class="row" v-if="champions">
                    <div class="champItem col-md-4" v-for="p in champions">
                        <div class="col-md-12">
                            <a :href="'./Tomato_One.html#' + p.id ">
                                <div>

                                    <img :src="'./img/LOL/Champions/' + p.image" />
                                </div>
                                <div class="champsInfo ">
                                    <b>{{p.title}}</b>
                                    <br> {{p.short_text}}

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer>
            <div class="footer_first ">
                <div class="wrapper ">
                    <div class="row ">
                        <div class="col-lg-8 col-md-12 ">
                            <ul class="footer__menu ">
                                <li class="footer__item ">
                                    <a href="# ">PROFILE</a>
                                </li>
                                <li class="footer__item ">
                                    <a href="# ">MANAGEMENT</a>
                                </li>
                                <li class="footer__item ">
                                    <a href="# ">PRODUCTS</a>
                                </li>
                                <li class="footer__item ">
                                    <a href="# ">R&D</a>
                                </li>
                                <li class="footer__item ">
                                    <a href="# ">LINKS</a>
                                </li>
                                <li class="footer__item ">
                                    <a href="# ">SITEMAP</a>
                                </li>
                                <li class="footer__item ">
                                    <a href="# ">CONTACT</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 d-flex justify-content-around ml-auto ">
                            <li class="footer_link ">
                                <a href="# "><img src="./img/Common/fotter/Ico_in.svg " alt="linkedin "></a>
                            </li>
                            <li class="footer_link ">
                                <a href="# "><img src="./img/Common/fotter/Ico_inst.svg " alt="instagram "></a>
                            </li>
                            <li class="footer_link ">
                                <a href="# "><img src="./img/Common/fotter/Ico_tube.svg " alt="youtube "></a>
                            </li>
                            <li class="footer_link ">
                                <a href="# "><img src="./img/Common/fotter/Ico_tw.svg " alt="twitter "></a>
                            </li>
                            <li class="footer_link ">
                                <a href="# "><img src="./img/Common/fotter/Ico_fb.svg " alt="facebook "></a>
                            </li>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer_second ">
                <div class="wrapper ">
                    <div class="row ">
                        <div class="col d-flex justify-content-center ">
                            AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
                        </div>
                    </div>

                </div>
        </footer>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js "></script>
        <script src="./js/LOL/main.js "></script>

</body>

</html>