header {
    position: relative;
    z-index: 2;
}

.header-wrapper {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    margin-top: 20px;
    margin-left: 80px;
    width: 150px;
    height: auto;
}

.logo_wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}

#logo {
    float: left;
}

.search {
    width: 350px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.search-input {
    font-weight: bold;
    width: 100%;
}

.search-input,
.search-button {
    display: inline-flex;
    border: none;
    font-family: "Robotoslab";
    background: transparent;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.menu {
    text-align: right;
    text-shadow: 1px 1px 1px #000;
}

.complex_list {
    padding: 4px;
}

.complex_list li {
    display: inline-block;
    list-style: none;
}

.complex_list li a {
    color: black;
    font: optional;
    font-size: 18px;
    text-decoration: none;
    margin: 2px;
}

.complex_list li a:hover {
    text-decoration: underline;
}

nav {
    padding: 15px 10px;
    color: black;
    font-family: "Segoe UI", sans-serif;
    text-align: center;
}

nav>ul {
    padding: 0;
}

nav li {
    display: inline-block;
    vertical-align: top;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.3s;
}

.menu a:hover {
    border: 2px solid #fff;
    border-radius: 5px;
}

input[type="checkbox"] {
    display: none;
}

nav label {
    display: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    align-content: flex-end;
}

@media (max-width: 860px) {
    .logo_wrapper {
        justify-content: center;
    }
    .logo {
        margin: 0;
    }
    .search {
        display: none;
    }
    .menu {
        position: absolute;
        right: 0;
        top: 80px;
    }
    nav a {
        padding: 0;
    }
    nav label {
        border: 1px solid black;
        border-radius: 5px;
        background-color: antiquewhite;
        color: white;
        display: inline-block;
    }
    nav>ul {
        display: none;
    }
    input[type="checkbox"]:checked~label+ul {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .logo {
        opacity: 0;
    }
}