header {
    padding-bottom: 20px;
    position: relative;
    z-index: 2;
    height: 133px;
    background-color: white;
}

.wrapper {
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}

#logo {
    margin-top: 20px;
    float: left;
    width: 30%;
}

.boxSearch {
    float: right;
    width: 350px;
    height: 35px;
    margin-top: 20px;
}

.boxSearch input,
button {
    outline: none;
    display: inline-flexs;
    border: none;
    font-family: "Robotoslab";
    background: transparent;
}

.lupa {
    float: right;
}

.line {
    width: 350px;
    height: 1px;
    border: none;
    background-color: black;
    color: black;
}

.menu {
    text-align: right;
    padding-top: 91px;
}

.complex_list {
    padding: 4px;
}

.complex_list li {
    display: inline-block;
    list-style: none;
}

.complex_list li a {
    color: black;
    font: optional;
    font-size: 18px;
    text-decoration: none;
    margin: 2px;
}

.complex_list li a:hover {
    text-decoration: underline;
}