@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Robotoslabbold";
    src: url("../fonts/Robotoslabbold.svg#Robotoslabbold") format("svg"), url("../fonts/Robotoslabbold.ttf") format("truetype"), url("../fonts/Robotoslabbold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: AntiqueWhite;
}

.inf_tomat {
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.7) inset;
    padding-top: 51px;
}

h1,
h2,
h3 {
    font-family: "RotondaBold";
}

li {
    list-style-type: none;
}