.tomatimg {
    background: url("../../img/LOL/open-graph-2e582ae9fae8b0b396ca46ff21fd47a8.jpg") no-repeat;
    background-size: cover;
    height: auto;
}

.title_text {
    font-size: 44px;
    color: #324950;
}

.title_img {
    margin-top: 40px;
}

.main_text {
    margin-top: 40px;
    font-size: 17px;
    color: #324950;
}

.line2 {
    border-left: 4px solid #eb5757;
    padding-left: 26px;
}

.championsList {
    padding-bottom: 20px;
}

@media (max-width: 720px) {
    .inf_tomat {
        padding-left: 5px;
    }
    .activ {
        display: inline-block;
    }
    .prodTomat {
        grid-template-columns: repeat(1, 320px);
        grid-template-rows: repeat(1, 321px);
    }
    .prodTomat img {
        width: 90vw;
    }
}