header {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 19px;
    position: relative;
    z-index: 2;
    background-color: white;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.logo_wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}

.slider {
    margin-top: -133px;
    background: url(../img/psheno.png) no-repeat;
    background-size: cover;
}

#logo {
    float: left;
}

.search {
    width: 350px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.search-input {
    width: 100%;
}

.search-input,
.search-button {
    display: inline-flex;
    border: none;
    font-family: "Robotoslab";
    background: transparent;
}

.readMore {
    text-align: center;
    background-color: #57984c;
    font-size: 16px;
    margin-top: 60px;
    color: #ffffff;
}

.menu {
    text-align: right;
}

.complex_list {
    padding: 4px;
}

.complex_list li {
    display: inline-block;
    list-style: none;
}

.complex_list li a {
    color: black;
    font: optional;
    font-size: 18px;
    text-decoration: none;
    margin: 2px;
}

.complex_list li a:hover {
    text-decoration: underline;
}

nav {
    padding: 15px 10px;
    color: black;
    font-family: "Segoe UI", sans-serif;
    text-align: center;
}

nav>ul {
    padding: 0;
}

nav li {
    display: inline-block;
    vertical-align: top;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.3s;
}

nav a:hover {
    border: 1px solid #fff;
}

input[type="checkbox"] {
    display: none;
}

nav label {
    display: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    align-content: flex-end;
}

@media (max-width: 1200px) {
    .logo_wrapper {
        justify-content: center;
    }
    .search {
        display: none;
    }
    .menu {
        position: absolute;
        right: 0;
        top: 80px;
    }
    nav a {
        padding: 0;
    }
    nav label {
        display: inline-block;
    }
    nav>ul {
        display: none;
    }
    input[type="checkbox"]:checked~label+ul {
        display: flex;
        flex-direction: column;
    }
}