img.fon {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.slider {
    padding-top: -122px;
    background: url("../../img/contactUs/backgroundContact.svg") no-repeat;
    background-size: cover;
    height: 480px;
}

.fonGray {
    padding-top: 51px;
    background-color: #e5e5e5;
}

.haderStyle h1 {
    font-weight: 700;
    font-size: 44px;
    color: #324950;
    padding-bottom: 40px;
    margin-bottom: 0;
}

.haderStyle img {
    padding-bottom: 50px;
}

.selectFix {
    display: flex;
    width: 100%;
    padding: 12px;
    background-position: right 20px center;
    border: 1px solid #dadada;
    border-radius: 10px;
}

textarea.textrFix {
    min-height: 390px;
    width: 100%;
}

input.sizeFix {
    /* width: 100%; */
    margin: 0;
}

.form-control {
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 12px;
}

.bottomBody {
    height: 250px;
    background-color: white;
}

input.wwodCodFix {
    width: 35%;
}

.menuFix {
    display: flex;
    justify-content: space-between;
}

.buttonGreen {
    text-align: center;
    color: white;
    background-color: #57984c;
    border: none;
    border-radius: 20px;
    width: 35%;
}

.fixPadding {
    padding-bottom: 50px;
}

.ourAdress {
    text-align: center;
    padding-top: 44px;
}

.ourAdress a {
    text-decoration: none;
    color: #57984c;
}

.textGreen {
    width: fit-content;
    margin: 0 auto;
    padding: 0 20px 12px;
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 20px;
    color: #57984c;
    border-bottom: 2px solid #57984c;
}

@media (max-width: 320px) {
    .fix {
        padding: 0;
        width: 320px;
    }
    .wrapper {
        padding: 0 15px;
    }
    input.wwodCodFix {
        width: 100%;
    }
    .buttonGreen {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .vision {
        --bs-gutter-x: 0;
    }
    .menuFix {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        align-items: stretch;
    }
    .secondBody p {
        text-align: center;
    }
}